@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.ttf");
}

#header-container {
  text-align: center;
  margin-bottom: 40px;
}

#header {
  font-family: "OpenSans", sans-serif;
  text-decoration: underline;
  font-size: 40px;
}

#jobs {
  font-family: "OpenSans", sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.job {
  box-shadow: 5px 5px 10px #777;
  border-radius: 6px;
  height: 90px;
  border: 2px solid #000000;
  padding: 5px;
}

.job_name {
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  display: inline-grid;
  align-items: center;
}

#all-passed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.success {
  background-color: #3a964a;
}

.failure {
  background-color: #e23d2c;
}

.unknown {
  background-color: #6d6a6a;
}

a {
  text-decoration: none;
  color: inherit;
}

.job.building.success {
  background-image: repeating-linear-gradient(
    135deg,
    #3a964a 30px,
    #000000 50px
  );
}

.job.building.failure {
  background-image: repeating-linear-gradient(
    135deg,
    #e23d2c 30px,
    #000000 50px
  );
}

.job.building.unknown {
  background-image: repeating-linear-gradient(
    135deg,
    #6d6a6a 30px,
    #000000 50px
  );
}
